ParametaRestService/src/wsdl/localhost_4444/empleadoServer.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://ws.parameta.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.parameta.com/">

<xs:element name="guardarEmpleado" type="tns:guardarEmpleado"></xs:element>

<xs:element name="guardarEmpleadoResponse" type="tns:guardarEmpleadoResponse"></xs:element>

<xs:complexType name="guardarEmpleado">
<xs:sequence>
<xs:element name="arg0" type="tns:empleadoDto" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empleadoDto">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cargo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechVinculacionCompania" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="nombres" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="numeroDocumento" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="salario" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="tipoDocumento" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guardarEmpleadoResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>